body {
    background-color: rgb(155, 117, 190);
    text-align: center;
}

p {
    color: #1abbbb;
}

h1 {
    font-style: italic;
}

.unicornio {
    color: rgb(229, 106, 172);
    font-size: 20px ;
}
.img1 {
    width: 40%;
    text-align: center;
}